body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-1%, rgb(112, 68, 52)), color-stop(95%, rgb(220, 104, 133)));
    background: -webkit-linear-gradient(bottom, rgb(112, 68, 52) -1%, rgb(220, 104, 133) 95%);
    background: -o-linear-gradient(bottom, rgb(112, 68, 52) -1%, rgb(220, 104, 133) 95%);
    background: linear-gradient(0deg, rgb(112, 68, 52) -1%, rgb(220, 104, 133) 95%);
    font-family: Helvetica, sans-serif;
}


/* Score board */
#score-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 505px;
    height: 50px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: 0 0 10px #000000;
            box-shadow: 0 0 10px #000000;
}

#score-board.score-add {
    -webkit-animation: addBounce 1s linear;
            -moz-animation: addBounce 1s linear;
            -o-animation: addBounce 1s linear;
            animation: addBounce 1s linear;
}

#score-board.score-lost {
    -webkit-animation: lostBounce .4s linear;
            -moz-animation: lostBounce .4s linear;
            -o-animation: lostBounce .4s linear;
            animation: lostBounce .4s linear;
}

.score-line {
    display: block;
    padding: 0;
    margin: auto;
    font-size: 0;
}

.score {
    font-size: 36px;
}

.score-pt {
    font-size: 16px;
}

/* Modal */
#simpleModal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity: 1;
	background: rgba(0,0,0,0.8);
	-webkit-transition: opacity 400ms ease-in;
	        -moz-transition: opacity 400ms ease-in;
	        -o-transition: opacity 400ms ease-in;
	        transition: opacity 400ms ease-in;
	pointer-events: auto;
}

#simpleModal.close {
	opacity: 0;
	pointer-events: none;
}

.modal-content {
	position: relative;
	width: 400px;
	margin: 10% auto;
	padding: 5px 20px 15px 20px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	background-color: rgb(241, 160, 181);
}

.modal-content .point {
    font-weight: bold;
    font-size: 1.1em;
}

.modal-close-btn {
	position: absolute;
	top: -10px;
	width: 24px;
	color: white;
	background: rgb(196, 62, 97);
	line-height: 25px;
	right: -12px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	        border-radius: 12px;
	-webkit-box-shadow: 1px 1px 1px #000;
	        box-shadow: 1px 1px 1px #000;
}

.modal-close-btn:hover, .modal-close-btn:focus {
	background-color: rgb(196, 62, 97);
    cursor: pointer;
}

